.wizard-menu.ant-menu-vertical >.ant-menu-item, .wizard-menu.ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-item{
    height:auto !important;
    line-height: normal !important;
}

.wizard-edit-control-bar {
    top: 46px;
}

.ant-tabs .ant-tabs-nav{
    position: sticky;
    top: 0;  
}

.ant-tabs {
    height: 100%;
}

.ant-tabs-content-holder .ant-tabs-content {
    height: 100%;
}

.ant-tabs-tabpane {
    height: 100%;
}