.ant-menu-vertical >.ant-menu-item, .ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-item{
    height:auto !important;
    line-height: normal !important;
}

.wizard-edit-control-bar {
    top: 46px;
}

.ant-tabs .ant-tabs-nav{
    position: sticky;
    top: 0;  
    z-index: 999;
}