/* Todo: this is same as total-comp-create-profile.page.css */
.custom-card .ant-card-head {
    border-bottom: none;
}
  
.custom-card .ant-card-body {
    padding-top: 8px;
}

.card-label{
    font-weight: 600;
    font-size: 16px;
}

.hr-reduced-margin{
    margin: 0 0 16px;
}

.label-only{
    margin:0;
}

.label-only .ant-form-item-control{
    display:none;
}

.full-width-label label{
    width: 100%; /* Full width */
    display: flex; /* Flex to use justify-content */
    justify-content: space-between; /* Elements on opposite sides */
    align-items: flex-end; /* Align items to bottom */
}
  
  .custom-alert .ant-alert-message {
    font-size: 12px;
  }
  
  .custom-alert .ant-alert-icon {
    font-size: 16px !important; /* Use !important to override default icon size */
  }