ant-select-selection-overflow {
    margin-right: 10px;

}
.ant-select-selection-overflow:after {
    display: inline-block;
    margin-left: 5px;
    line-height: 24px;
    /* visibility: hidden; */
    color: grey;
    content: "Search for compentencies...";
}
/* Hide the placeholder when the TreeSelect is focused */
.ant-select-focused .ant-select-selection-overflow:after,
.ant-select-open .ant-select-selection-overflow:after {
    display: inline-block;
    margin-left: 5px;
    line-height: 24px;
    visibility: hidden;
    content: "Search for compentencies...";
}