/* wizard-behavioural-comptency-picker.module.css */
#wbcp > .ant-tree-select .ant-select-selector .ant-select-selection-overflow:after {
    display: inline-block;
    margin-left: 5px;
    line-height: 24px;
    /* visibility: hidden; */
    color: grey;
    content: "Search for compentencies...";
}

/* Hide the placeholder when the TreeSelect is focused */
#wbcp > .ant-tree-select.ant-select-open .ant-select-selector .ant-select-selection-overflow:after{
    display: inline-block;
    margin-left: 5px;
    line-height: 24px;
    visibility: hidden;
    content: "Search for compentencies...";
}