.status-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.status-dot-gray {
    background-color: #D9D9D9;
}

.status-dot-blue {
    background-color: #1890FF;
}

.status-dot-green {
    background-color: #52C41A;
}