.my-placeholder {
    background-color: inherit !important;
}

.react-select__multi-value{
    display:none !important;
}

.react-select__placeholder{
    color: #767676 !important;
}

/* this applies same style to container as when no items are selected, so that
the input box renders at the beginning of the box, instead of after placeholder
*/
.react-select__control>.react-select__value-container{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: 2px 8px;
    box-sizing: border-box;
}

/* Makes the tree view styling same as select component - why is it different in the first place?.. */
.jobFamilyStreamFilter .ant-select-selection-overflow-item-rest, .jobFamilyStreamFilter.no-search .ant-select-selection-overflow-item{
    /* display:none; */
    height: 0;
    width: 0;
    overflow: visible;
    color: #767676 !important;
}

.jobFamilyStreamFilter.search-active .ant-select-selection-overflow-item-rest{
    display:none;
}

.jobFamilyStreamFilter .ant-select-selection-placeholder{
    color: #767676 !important;
}

.jobFamilyStreamFilter  .ant-select-selection-item-content{
    text-overflow: initial;
}

.jobFamilyStreamFilter .ant-select-selection-item {
    width: 100%;
    position: absolute;
    top: -14px;
    padding-left:0px;
    left: 6px;
    background: white;
}

.jobFamilyStreamFilter.ant-select{
    height:100%;
}

.jobFamilyStreamFilter .ant-select-selector{
    border-color: hsl(0, 0%, 80%) !important;
    border-radius: 4px;
}

.sr-only-label label{
    width:0;
}

@media (max-width: 1023px) {
    .card-context, .card-overview, .card-see-details{
        display:none;
    }

    .card-actions{
        position:static !important;
        margin-left: -8px;
    }
    .card-save-button-space{
        display:none;
    }
}