.job_profile_search_results_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    padding: 8px 24px;
    height: 669px;
}

.job_profile_search_results_ul li:not(:last-child) {
    border-bottom: 1px solid #CCC;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #c4c4c4;
    background-clip: content-box;
  }