.profileDescriptions .ant-descriptions-header{
    background: white;
    margin: 0;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgb(226 228 231);
    border-bottom: 0;
}

.profileDescriptions .ant-descriptions-view{
border-radius: 0;
}

.profileDescriptions table{
    background:white;
}