.compact-popover .ant-popover-inner{
    padding: 0;
}

.compact-popover .ant-popover-arrow{
    display: none;
}

.compact-popover li{
    padding: 0 10px 0 10px !important;
    height: auto !important;
    line-height: 26px !important;
}

.compact-popover ul{
    background: transparent !important;
}