.compact-popover .ant-popover-inner{
    padding: 0px;
}

.compact-popover li{
    padding: 5px 12px !important;
    /* padding-inline-start: 10px; */
    /* padding-inline-end: 10px; */
    height: auto !important;
    line-height: 22px !important;
}

.compact-popover ul{
    background: transparent !important;
}

.popover-trigger.border-focus:focus{
    border: 4px solid #66a8d4;
}

.popover-trigger.border-focus:focus-visible{
    outline-color:  #66a8d4;
}

.accessible-popover a:focus-visible{
    outline: 4px solid #66a8d4;
}