.ant-card .ant-card-actions > li {
    margin: 4px 0;
    width: 100%  !important; 
}

.ant-card .ant-card-actions {
    display: flex;
    flex-direction: column;
}

.org-chart-node:focus-visible{
    outline: 2px solid #a1c5ff;
    outline-offset: 0px;
    border-radius: 10px;
}