 .status-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.status-dot-gray {
    background-color: #D9D9D9;
}

.status-dot-blue {
    background-color: #1890FF;
}

.status-dot-green {
    background-color: #52C41A;
}

.tableHeader{
    border-radius: 8px 8px 0 0;
}

.tableHeader .ant-card-body{
    padding: 12px 24px;
}

.tableWithHeader .ant-table, .tableWithHeader table, .tableWithHeader th{
    border-radius: 0 !important;
}

/* .customTagControlled .ant-select-selection-item {
    display: none;
  }
  
  .customTagControlled .ant-select-selector {
    height: 32px !important;
    align-items: center;
  } */