.customDescriptions .ant-descriptions-header{
    background: white;
    margin: 0;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgb(226 228 231);
    border-bottom: 0;
    overflow: visible;
}

.customDescriptions .ant-descriptions-view{
border-radius: 0;
}

.ant-descriptions-view p {
    margin-bottom: 0em !important;
}

.customDescriptions table{
    background:white;
}