/* Makes the placeholder in select with external tags render properly */
.external-tag-select .ant-select-selection-overflow-item-rest, .external-tag-select.no-search .ant-select-selection-overflow-item{
    /* display:none; */
    height: 0;
    width: 0;
    overflow: visible;
    color: rgba(0, 0, 0, 0.25) !important;
}

.external-tag-select.search-active .ant-select-selection-overflow-item-rest{
    display:none;
}

.external-tag-select .ant-select-selection-placeholder{
    color: rgba(0, 0, 0, 0.25) !important;
}

.external-tag-select  .ant-select-selection-item-content{
    text-overflow: initial;
}

.external-tag-select .ant-select-selection-item {
    width: 100%;
    position: absolute;
    top: -5px;
    padding-left:0px;
    left: 6px;
    background: white;
}

.external-tag-select.ant-select{
    height:100%;
}

